body {
    background-color: #d3d3d3;
    font: 18px/1.5 sans-serif;
}

[v-cloak] { display:none; }

/*
.btn.focus, .btn:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
*/