{% extends 'base.html.twig' %}

{% block title %}It's works!{% endblock %}

{% block body %}
    <!-- Backend entry point to Vue app -->
    <div id="app" v-cloak>
        <App/>
    </div>
{% endblock %}